block footer
    footer
        div.container
            div.row
                div.col-md-6
                    ul
                        li
                            a(href="mailto:info@devmark.io") Contact
                        li
                            a(href="/privacy") Privacy
                div#copyright.col-md-6
                  span devmark | 2015
