block header
    header
        div.container
            div.row
                div#logo.col-md-2
                    a(href="https://devmark.io")
                        img(src=locals['logo.png'])
                div#nav.col-md-8
                    ul
                        li
                            a(href="#intro") Top
                        li
                            a(href="#features") Features
                        li
                            a(href="#install") Install
                        li
                            a(href="#quickstart") Quick Start
                        li
                            a(href="#keybind") Learn Key Bindings

