doctype html
html(lang="en")
  head
    block head
        title devmark #{locals['title']}
    block meta
      meta(name='description', content='devmark')
      meta(name='keywords', content='bookmark service')
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      link(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css", type='text/css', rel='stylesheet')
      link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", type='text/css', rel='stylesheet')
      link(href=locals['favicon.ico'], type='image/x-icon', rel='shortcut icon')
      link(href=locals['bundle.css'], type='text/css', rel='stylesheet')
      link(href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", type='text/css', rel='stylesheet')
      link(href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css", type='text/css', rel='stylesheet')

  body
    include header
    div#main
        block content
    include footer
  script(src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript")
  script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript")
  script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" type="text/javascript")
  script(src=locals['main.js'] type="text/javascript")

