doctype html
html(lang="en")
  head
    block head
        title devmark #{locals['title']}
    block meta
      meta(name='description', content='devmark release notes')
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      link(href=locals['favicon.ico'], type='image/x-icon', rel='shortcut icon')
      style(type="text/css") body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0 10px}h1,h2,h3{line-height:1.2}

  body
    block content
