@primary: #e80000;
@secondary: #000000;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);


html, body {
  font-family: 'Open Sans';
  margin: 0px;
  height: 100%;
}

h1 {
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

header {
  z-index: 1000;
  position: fixed;
  background-color: white;
  color: black;
  margin: auto 0px;
  width: 100%;
  border-bottom: solid 1px black;
  .container {
    width: 100%;
  }
  .row {
    min-height: 50px;
    padding-top: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: @primary;
  }
}

#main {
  max-width: 1950px;
  margin: auto;
}

#logo {
  text-align: center;
  a {
    img {
      height: 32px;
    }
  }
}

#nav {
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    li {
      cursor: pointer;
      display: inline-block;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-top: 10px;
    }
    li:hover {
      color: @primary;
    }
  }
}

blockquote {
  font-size: 13.5px;
  border-color: #E44141;
}

footer {
  background-color: black;
  color: white;
  padding:20px;
  height: 60px;
  .container {
    width: 100%;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    li {
      cursor: pointer;
      display: inline-block;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

#copyright {
  text-align: right;
  span {
    margin-right: 2.5%;
  }
}