#twitter-shell {
  width: 100%;
  text-align: center;
  background-color: whitesmoke;

  p {
    color: gray;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 20px;

    a:hover {
      text-decoration: none;
    }
  }
}

#features-shell {
  width: 100%;
  padding: 35px 0px;
}

#feature-list {
  color: black;
  margin-bottom: 50px;
  font-size: 1.2em;
  ul {
    margin-top: 25px;
    list-style: none;
    > li{
      margin-bottom: 20px;

      span.icon {
        width: 60px;
        display: inline-block;

        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.slick-slide:focus, .slidey:focus {
  outline: none;
}

#gallery {
  img {
    margin: 0 auto;
  }
  .subtext {
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
}
