@primary: #e80000;
@secondary: #000000;

#install-shell {
  width: 100%;
  background-color: whitesmoke;
}

#install {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  h1 {
    margin-bottom: 40px;
  }
  h3.browser-name > span {
    display: block;
    color: black;
    margin-bottom: 20px;
  }
  a {
    display: block;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin: 30px auto 0 auto;
    padding: 5px 0px;
    border: solid 3px black;
    width: 200px;
  }
  .coming-soon {
    margin-top: 30px;
  }
  #teaser {
    margin-top: 50px;
    text-align: center;
  }
}
