@primary: #e80000;
@secondary: #000000;

#shutdown {
  background-color: #a91616;
  color: white;
  padding: 100px 50px;
}

#banner-shell {
  color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 30px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 120px;
}

#banner {
  margin-bottom: 50px;
  font-size: 1.4em;

  #small-logo{
   width: 100px;
  }
  h1 {
    margin: 40px 0 0 0;
  }
  a {
    display: block;
    margin: 80px auto;
    width: 300px;
  }
  a:hover {
    color: black;
  }
  h3 {
    color: black;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding: 10px 0px;
    width: 100%;
    border: solid 3px black;
  }
}
