#keybind-shell {
  width: 100%;
  background-color: whitesmoke;
}

#keybind {
  padding-top: 50px;
  padding-bottom: 60px;
  .shortcut {
    color: #E44141;
  }
  ol {
    > li {
      font-size: 24px;
    }
  }
  h3  {
    margin-top: 40px;
  }
  ul {
    margin: 20px;
  }
}
