extends layout/release-note-layout.pug

block content
  h1 devmark | Chrome extension release notes
  p The Chrome extension can be found 
    a(href="//chrome.google.com/webstore/detail/devmark/jajimcedhdjaeohggknaehgeggebjndf") here
    | .
  div
    h2 Version 1.0.2 released on 2016-11-22
    p
      i Features
    ul
      li The initial release of the chrome extension
      li Account registration and activation
      li Sign in and sign out of account
      li Password reset via a forgot password feature
      li Create, edit, and delete bookmark functionality
      li Pin bookmarks and assign shortcut keys
      li Import and export bookmarks via html files
      li Search bookmarks and access them
      li Basic settings page

  hr

  div
    p
      a(href="/") home page

