block content
    div#twitter-shell
      div.container
        div#twitter.row
        <p>For news & updates</p>
        <h4><a href="https://twitter.com/devmarkio">@devmarkio</a></h4>
    a(name="features")
    div#features-shell
        div.container
            div.row
                h2 Features
            div.row
                div.col-md-6#gallery
                  div.slidey
                    div
                      span.subtext Search your bookmarks, it's super easy!
                      img(src=locals['devmark-search.png'])
                    div
                      span.subtext Easy access to your favorite sites.
                      img(data-lazy=locals['devmark-shortcuts.png'])
                    div
                      span.subtext Edit, delete, and pin.
                      img(data-lazy=locals['devmark-manage.png'])
                    div
                      span.subtext Use Duck Duck Go bangs.
                      img(data-lazy=locals['devmark-ddg.png'])
                    div
                      span.subtext Import, export and learn more.
                      img(data-lazy=locals['devmark-settings.png'])
                div.col-md-6#feature-list
                    ul
                        li
                            span.icon
                              i.fa.fa-search
                            span Smart search instead of tags & folders
                        li
                            span.icon
                              i.fa.fa-keyboard-o
                            span Keyboard users as first class citizens
                        li
                            span.icon
                              i.fa.fa-thumb-tack
                            span Pin your favorite sites
                        li
                            span.icon
                              i.fa.fa-bolt
                            span Assign shorcuts to your pinned site
                        li
                            span.icon
                              i.fa.fa-folder-open
                            span Import & Export your data
                        li
                            span.icon
                              i.fa.fa-exclamation
                            span Duck Duck Go bang integration
                        li
                            span.icon
                              i.fa.fa-cloud
                            span Synced across machines
                        li
                            span.icon
                              i.fa.fa-firefox
                              i.fa.fa-chrome
                            span Multi-browser support
                            sup
                                small  Coming Soon
                                  sup
                                      small TM
