block content
    a(name="install")
    div#install-shell
        div#install.container
            div.row
                h2 Install on your favorite browser
                div.col-md-2
                div.col-md-4#chrome
                    h3.browser-name
                        span Chrome
                    img(src=locals['chrome_128x128.png'])
                    h3
                      a(href="https://chrome.google.com/webstore/detail/jajimcedhdjaeohggknaehgeggebjndf" target="_blank") Install Now
                div.col-md-4#firefox
                    h3.browser-name
                        span Firefox
                    img(src=locals['firefox_128x128.png'])
                    h3.coming-soon
                      span
                          small Coming Soon
                <!--div.col-md-4#edge
                    img(src=locals['edge_128x128.png'])
                    h3 Edge
                        br
                        span
                            small Coming Soon-->
            div#teaser.row
                h3
                  small You're just minutes away from a new bookmarking experience!
