block content
    a(name="intro")
    div#shutdown
        h1 Shutdown Announcement!
        p
        | /devmark will shutdown on the 1st May 2020 - beyond this point your bookmark data will be deleted!
        br
        br
        | Please export your data via the settings section of the extension (the gear icon in the bottom right after you login).
        | The html file you export is in a format that all modern browsers should be able to import. After 1st May 2020 you will no longer
        | be able to access your data. If you have an issue exporting your data send an email to devmarkshutdown@gmail.com. This email is not
        | monitored daily so it may be up to a week before you receive a response. If you miss the 1st May 2020 deadline there may be a small period
        | of grace where I can recover your data - but there is every chance after that date the data will be gone forever.
        br
        br
        | The reasons this extension is being shutdown is that it has been running since October 2015 but the numbers of active users has been extremely low.
        | Due to cost and maintenance reasons, the backend service for this extension will be shut down which means the extension will be unable to access any data.	
    div#banner-shell(style="background: url(" + locals['background.jpg'] + ");")
        div#banner.container
            div.row
                div.col-md-12
                    img#small-logo(src=locals['small-logo.png'])
                    h1
                        |The new way to bookmark.
                        br
                        |Create and search faster than ever before.
                    a(href="#install")
                        h3 Get devmark now
