block content
    a(name="keybind")
    div#keybind-shell
        div#keybind.container
            div.row
                h2 Learn Key Bindings
                p
                    | devmark was built so that the entire feature set (excluding the settings page) can be accessed
                    | entirely through the keyboard if that is your preference. This is done through predefined key
                    | bindings built into the extension. These key bindings follow common convention. Below you'll see
                    | how each feature can be accessed with the keyboard.

                ol
                    li
                        h3 Opening the extension
                        blockquote
                            | The extension can be opened by pressing
                            span.shortcut  ctrl+m
                    li
                        h3 Tabbing
                        blockquote
                            | The devmark extension was built with the expectation that keyboard users would primarily
                            | navigate through the interface components by using the
                            span.shortcut  tab
                            |  button. When the extension is opened the quick launch
                            | (i.e. pinned shortcuts) have focus, hitting
                            span.shortcut  tab
                            |  will move focus to the search
                            | bar, hitting
                            span.shortcut  tab
                            |  once againg will move focus to the save button. Any further use of
                            span.shortcut  tab
                            |  will just
                            | repeat this pattern. Remember it's possible to cycle backwards with
                            span.shortcut  shift+tab
                            | !
                            br
                            br
                            | When a feature has focus the very bottom panel of the extension provides a snippet of text
                            | detailing the action to be taken, such as: quick launch, search, save, etc.
                    li
                        h3 Shortcuts
                        blockquote
                            | The shortcuts assigned to the pinned bookmarks allow your most used bookmarks to be opened
                            | rapidly just using the keyboard. For example to quickly open a shortcut a user could hit
                            span.shortcut  ctrl+m
                            |  to open the extension and then, as an example,
                            span.shortcut  g
                            |  to open www.github.com. Both actions can be performed in the space of a second allowing for
                            | fluent and rapid access to bookmarks.
                    li
                        h3 Search
                        blockquote
                            | The search bar can be accessed via the
                            span.shortcut  tab
                            |  key quite easily. But it can also be accessed by hitting the
                            span.shortcut  forward-slash (/)
                            |  key. The search bar is used like a normal search bar, you enter text and hit enter. When
                            | the search results appear they can be navigated by tabbing through them. But more
                            | importantly, once a search result has focus (e.g. you tab to the first search result) a
                            | number of new key bindings become available:
                            ul
                                li
                                    span.shortcut h
                                    |  - return to the search bar, though you can still use
                                    span.shortcut   forward-slash (/)
                                li
                                    span.shortcut j
                                    |  - move down the results list by one (similar to
                                    span.shortcut  tab
                                    | ), the main difference is that
                                    | when you reach the end of the search results, pressing
                                    span.shortcut  j
                                    |  will not move focus to the next UI
                                    | component; whereas tab would
                                li
                                    span.shortcut k
                                    |  - move up the results list by one (similar to
                                    span.shortcut  shift+tab
                                    | ), the main difference is
                                    | that when you reach the start of the search results pressing
                                    span.shortcut  k
                                    |  will not move focus to the previous
                                    | UI component; whereas shift+tab would
                                li
                                    span.shortcut l
                                    |  or
                                    span.shortcut  enter
                                    |  - launch the bookmark that has focus
                                li
                                    span.shortcut c
                                    |  - edit (change) the bookmark that has focus
                                li
                                    span.shortcut d
                                    |  - delete the bookmark that has focus
                                li
                                    span.shortcut G (shift+g)
                                    |  - go to the last search result
                    li
                        h3 Edit/Delete menu
                        blockquote
                            | The Edit and Delete menu's are best navigated by using the
                            span.shortcut  tab
                            |  key and the
                            span.shortcut  shift+tab
                            |  key.
