doctype html
html(lang="en")
  head
    block head
        title devmark privacy
    block meta
      meta(name='description', content='devmark privacy policy')
      meta(name='keywords', content='bookmark service privacy policy')

  body
    block content
        div#privacy-shell
            div#privacy.container
                div.row
                    h1 Privacy
                    p
                        | There is no formal privacy policy for devmark as of yet.
                    p
                        | Your data will not be divulged to any third party service and the utmost will be done to ensure
                        | it's safety and integrity.

                    a(href="mailto:info@devmark.io") Privacy queries
