block content
    a(name="quickstart")
    div#quickstart-shell
        div#quickstart.container
            div.row
                h2 Quick Start
                p
                    | To use devmark click the install link (above) for the browser of your choice. Once it is installed you
                    | should see the new icon
                    span(style="color:#E44141;")  /
                    span(style="color:black;") d
                    | in your browser. You can interact with devmark through the use of either
                    | the mouse or keyboard (or a bit of both). If you prefer to use the keyboard you should check out
                    | the
                    a(href="#keybind")  Learn Key Bindings
                    |  section. As a mouse user the interface should be fairly intuitive.

                ol
                    li
                        h3 Register and Sign In
                        blockquote
                            | To use devmark you first need to register. You do this by opening the extension after
                            | you have installed it and clicking the "Register here" link on the sign in page. You
                            | register by entering a username, email and password. Once you register you will be sent
                            | an email which contains an activation link. You need to click this link to activate your
                            | account (we force you to do this because without a valid email you'd be locked out of
                            | your account if you forgot your password). Once activated you can sign in by providing
                            | your email or username, along with your password. You can sign out from the extension by
                            | accessing the settings button in the bottom right of the extension and clicking the
                            | "Sign Out" link.
                    li
                        h3 Import bookmarks
                        blockquote
                            | If you have existing bookmarks you can easily import them into devmark. To do this just open
                            | the extension and click on the settings icon in the bottom right corner. In the import
                            | section click on the "Import" link to be brought to a web page where you can upload your bookmarks.
                            | If you don't know how to get your bookmarks into a HTML file there is a link under the import button (in the
                            | extension) that will provide directions to do this for your specific browser. Similar to importing you can also
                            | export your bookmarks from devmark if you decide you no longer want to use it. The export
                            | file format is compatible with any modern browser. Please note: since devmark doesn't use a
                            | folder structure your bookmarks will not be categorized when exported.

                    li
                        h3 Create a new bookmark
                        blockquote
                            | To create a new bookmark navigate to the web page you want to bookmark; then access the devmark
                            | extension. To the bottom left of the extension interface you will see a save button with
                            | the name of the current web page beside it. Clicking this button will save the page as a new
                            | bookmark. If a web page is already bookmarked the save button will show up as an edit
                            | button that allows you to edit it.

                    li
                        h3 Managaing and accessing existing bookmarks
                        blockquote
                            | devmark was designed so that managing and accessing bookmarks is hassle-free. It does
                            | this by providing a search bar that you use to look up your bookmarks. For example if you
                            | want to access a bookmark relating to, say, youtube you could:

                            ul
                                li type ‘youtube’ into the search bar
                                li type the first few letters of ‘youtube’ - ‘you’ - into the search bar
                                li type in part of the name of the specific youtube clip

                            | Depending on the number and name of bookmarks you have saved different search strategies will
                            | provide better results. To edit/delete any bookmark look it up via the search bar - when it
                            | appears in the results menu click the ‘+’ icon when hovering over the bookmark and choose
                            | either Edit or Delete on the menu that opens up.

                    li
                        h3 Pin a bookmark; Create a shortcut
                        blockquote
                            | Any bookmark created or imported into devmark can be pinned to the left-hand sidebar. When a
                            | bookmark is pinned it can also be assigned a shortcut key. This feature exists so that you can
                            | rapidly access your most used bookmarks. To pin a bookmark click on the ‘+’ icon
                            | that appears when you hover over it and click edit. Then click the pin checkbox, at this
                            | stage you can also assign a shortcut key. Currently you can only assign a single lower case
                            | letter or a single number as a shortcut.

                    li
                        h3 Using shortcuts
                        blockquote
                            | When you open the extension the shortcuts will have focus and as such be triggered as soon as
                            | you click the corresponding key you bound to that bookmark. The keys show up beside each
                            | pinned bookmark so you can easily determine which key opens which bookmark. If you perform
                            | another action in the extension the shortucts will lose focus and you'll notice this since
                            | the assigned keys will disappear. To gain access to the shortcuts again you can click on
                            | the left-hand side panel they are situated on.

                    li
                        h3 Duck Duck Go integration
                        blockquote
                            | devmark supports the use of Duck Duck Go bangs directly from the search bar. This allows your
                            | bookmark lookups to be easily reworked into a much broader reaching search if the bookmarks you
                            | were expecting don't show up. If you're not familiar with Duck Duck Go, it is a search
                            | that prioritises privacy and it provides what is called "bang" functionality. Check out how
                            | bangs works at
                            a(href="https://duckduckgo.com/bang")  https://duckduckgo.com/bang
                            | .
